[submodule "simulation"]
	path = simulation
	url = https://github.com/duckietown/gym-duckietown
        branch = daffy
[submodule "dt-core"]
	path = catkin_ws/src/dt-core
	url = https://github.com/duckietown/dt-core.git
        branch = daffy
[submodule "dt-ros-commons"]
	path = catkin_ws/src/dt-ros-commons
	url = https://github.com/duckietown/dt-ros-commons.git
        branch = daffy
[submodule "dt-car-interface"]
	path = catkin_ws/src/dt-car-interface
	url = https://github.com/duckietown/dt-car-interface.git
	branch = daffy
