<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- start basic args -->
    <arg name="veh" default="default"/>
    <arg name="param_file_name" default="default" />
    <arg name="verbose" default="true" />
    <arg name="loc" default="-1"/>
    <arg name="line_detector_param_file_name" default="$(arg param_file_name)"/>

    <arg name="lane_following" default="true"/>
    <arg name="/lane_following/line_detection" default="true"/>
    <arg name="/lane_following/lane_filter" default="true"/>
    <arg name="/lane_following/ground_projection" default="true"/>
    <arg name="/lane_following/lane_controller" default="true"/>


    <group if="$(arg lane_following)">

        <!-- Line Detector -->
        <group if="$(arg /lane_following/line_detection)">
                <remap from="line_detector_node/transform" to="anti_instagram_node/transform"/>
                <remap from="line_detector_node/corrected_image/compressed" to="corrected_image/compressed"/>
                <include file="$(find line_detector)/launch/line_detector_node.launch">
                    <arg name="veh" value="$(arg veh)"/>
                    <!-- NOTE: "line_detector_param_file_name" as special case -->
                    <arg name="param_file_name" value="$(arg line_detector_param_file_name)"/>
                    <arg name="verbose" value="$(arg verbose)" />
                </include>
            </group>

            <!-- Ground Projection -->
            <group if="$(arg /lane_following/ground_projection)">
                    <include file="$(find ground_projection)/launch/ground_projection.launch">
                        <arg name="veh" value="$(arg veh)"/>
                        <arg name="param_file_name" value="$(arg param_file_name)"/>
                    </include>
            </group>

            <!-- Lane Filter -->
            <group if="$(arg /lane_following/lane_filter)">
                <remap from="lane_filter_node/segment_list" to="ground_projection/lineseglist_out"/>
                <remap from="lane_filter_node/car_cmd" to="/$(arg veh)/car_cmd"/>
                <include file="$(find lane_filter)/launch/lane_filter_node.launch">
                    <arg name="veh" value="$(arg veh)"/>
                    <arg name="param_file_name" value="$(arg param_file_name)"/>
                </include>
            </group>
            
            <!-- Lane controller -->
            <group if="$(arg /lane_following/lane_controller)">
                <remap from="lane_controller_node/lane_pose" to="lane_filter_node/lane_pose"/>
                <remap from="lane_controller_node/wheels_cmd_executed" to="wheels_driver_node/wheels_cmd_executed" />
                <remap from="lane_controller_node/actuator_limits" to="inverse_kinematics_node/actuator_limits" />

                <include file="$(find lane_control)/launch/lane_controller_node.launch">
                    <arg name="veh" value="$(arg veh)"/>
                    <arg name="param_file_name" value="$(arg param_file_name)"/>
                </include>
            </group>
    </group> -->
    <!-- End Lane Control -->
</launch>
