# Gym Duckietown
pyglet
gym>=0.9.0
pyzmq>=16.0.0
scikit-image>=0.13.1
pyyaml>=3.11
cloudpickle
duckietown_slimremote>=2018.8.2
pygeometry
dataclasses

# IPython
jupyter
gitpython
ipywidgets

# AIDO Submission Infrastructure

opencv-python==4.0.0.21
numpy==1.16.2

-e git://github.com/AndreaCensi/zuper-utils.git@z2#egg=zuper-utils
-e git://github.com/AndreaCensi/zuper-nodes.git@z2#egg=zuper-nodes
-e git://github.com/AndreaCensi/zuper-commons.git@z2#egg=zuper-commons
-e git://github.com/duckietown/aido-protocols.git@z2#egg=aido-protocols

-e git://github.com/duckietown/duckietown-world.git@aido2#egg=duckietown-world
-e git://github.com/duckietown/duckietown-challenges.git@v4#egg=duckietown-challenges

# Class exercises
torch==1.0.0
pillow
